<div class="col-sm-6" style="margin-bottom: 4%;">
    <a asp-action="UILandingBuscar" asp-controller="LandingPages" class="btn btn-info">Volver al inicio</a>
</div>

<div class="col-sm-6">
    <form method="get" action="Buscar">
        <input class="form-control col-sm-3" type="text" name="busqueda" placeholder="Buscar algo" style="margin-bottom: 4%;" />
        <button class="btn btn-primary col-sm-3 float-end" type="submit">Buscar</button>
    </form>
</div>