<div class="dropdown" style="margin-bottom: 2%;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Ver Opciones
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Organizar por Alfabeticamente</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Fecha de Creación</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Fecha de Expiración</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Fabricantes</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Métodos Transportes</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Categorías</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Clasificaciones</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Tipos de Empaquetamientos</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Especificaciones</a></li>
    </ul>
</div>