<div class="dropdown" style="margin-bottom: 2%;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Ver Opciones
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Organizar por Alfabeticamente</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Identificación</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Proveedores</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Clientes</a></li>
        <li><a class="dropdown-item" href="#">Organizar por Paises</a></li>
    </ul>
</div>