@model ListadoComprasViewModel

@{
    ViewData["Title"] = "Listado de Compras";
}

<div class="container" style="margin-top: 4%;">
    <a asp-action="UILandingCompra" asp-controller="LandingPages" class="btn btn-primary" style="float: left;">Volver al inicio</a>
</div>