
<div class="container" style="margin-top: 3%;">

    <a asp-action="Index" asp-controller="Home" class="btn btn-primary"><i class="bi bi-arrow-90deg-left"></i> Volver al anterior</a>
    <div class="text-center">
        <h1 class="display-4"><strong>Documentación del Proyecto</strong></h1>      
    </div>

    <div style="margin-top: 4%">
        <h3>Listado de mis recursos de aprendizajes para la creación del proyecto: </h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-3">Udemy Curso: Aprende ASP.NET Core MVC 6 de Felipe Gavilán </th>
                    <th class="col-lg-3">Udemy Curso: .NET Core MVC - Guia Completo 2024 de Bhrugen Patel</th>
                    <th class="col-lg-3">Udemy Curso: ASP.Net Core - The Ultimate Guide de Harsha Vardhan</th>
                    <th class="col-lg-3">Libro: La Gestión Logística</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-lg-3"><a href="https://www.felipe-gavilan.com/cursos?idioma=eng">Link para el curso</a></td>
                    <td class="col-lg-3"><a href="https://www.dotnetmastery.com/#course">Link para el curso</a></td>
                    <td class="col-lg-3"><a href="https://www.youtube.com/harshaglobal">Link para el curso</a></td>
                    <td class="col-lg-3">No hay vínculos disponibles</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>