@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Mantenimiento Web</h1>
        <h3 style="text-align: justify">Este proyecto es un simple Enterprise Resource Planning Software o ERP en la nube. Facilita el control y abastecimiento de productos, permite automatizar procesos, generar informes, y mejorar el servicio al cliente, un Inventory System Management (IMS) ante tu mano.  </h3>
    </div>
    
</div>
