<div class="container" style="margin-top: 3%;">
    <h1>Bienvenidos al Área de Producción</h1>
    <h3>Aquí puedes consultar los productos registrados en la base de datos incluso usar funciones para crear, editar, o eliminarlos y ver sus condiciones, especificaciones, características, proveedores, etc.</h3>


    <div class="container" style="margin-top: 4%;">
        <div class="container-lg">
            <center>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="Productos" class="btn"><h3>Productos En Proceso</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-boxes"></i></h1>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Productos" asp-controller="Productos" class="btn"><h3>Materias Primas En Proceso</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-grid-1x2"></i></h1>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="" asp-controller="" class="btn"><h3>Gestionar Producción</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-person-workspace"></i></h1>

                </div>
            </center>

        </div>

    </div>

</div>