@{
    ViewData["Title"] = "Área de Venta";
}
<div class="container mt-4">
    <h1>Bienvenidos al Área de Ventas</h1>
    <h3>Es uno de las areas que intervienen en el control de los inventarios. Se trata de buscar realización de inversiones que representan una rentabilidad para la empresa.</h3>
    
    <div class="container">
        <div class="container-lg">
            <center>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="RegistroEmpresa" class="btn"><h3> Ver Listado de Empresas</h3></a>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Registrar" asp-controller="RegistroEmpresa" class="btn"><h3>Registrar Nueva Empresa</h3></a>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="RegistroEmpresa" class="btn"><h3>Facturación</h3></a>
                </div>
            </center>
            
        </div>
        
    </div>

</div>
