@{
    ViewData["Title"] = "Área de Compra";
}
<div class="container mt-4">
    <h1>Bienvenidos al Área de Compra</h1>
    <h3></h3>

    <div class="container">
        <div class="container-lg">
            <center>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="" class="btn"><h3> Ver Ordenes de Compra</h3></a>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Registrar" asp-controller="" class="btn"><h3>Ordenar Producto</h3></a>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="" class="btn"><h3>Facturación</h3></a>
                </div>
            </center>

        </div>

    </div>

</div>
