<div class="container" style="margin-top: 3%;">
    <h1>Bienvenidos al Área de Inventario</h1>
    <h3>El área de inventario se encarga de la gestión, control, y la administración de los productos o materias primas almacenados en una empresa con el fin de garantizar la disponibilidad de los productos o artículos necesarios para satisfacer la demanda de los clientes.</h3>
    <div class="container" style="margin-top: 4%;">
        <div class="container-lg">
            <center>
                <div class="col-lg-6">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="Inventarios" class="btn"><h3> Ver Inventarios</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-list-stars"></i></h1>
                </div>
                <div class="col-lg-6">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Crear" asp-controller="Inventarios" class="btn"><h3>Crear Inventario</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-pencil-square"></i></h1>
                </div>


            </center>

        </div>

    </div>
</div>