@{
    ViewData["Title"] = "Área de Compra";
}
<div class="container" style="margin-top: 3%;">
    <h1>Bienvenidos al Área de Compra</h1>
    <h3>Este área busca y asegura la disponilidad de productos necesarios para el ciclo de manufactura y/o para la venta.</h3>

    <div class="container" style="margin-top: 4%;">
        <div class="container-lg">
            <center>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="" class="btn"><h3> Ver Ordenes de Compra</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-truck"></i></h1>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Registrar" asp-controller="" class="btn"><h3>Ordenar Producto</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-bag-heart"></i></h1>
                </div>
                <div class="col-lg-4">
                    <a style="margin-top: 10%; background-color: cornflowerblue; color: white;" asp-action="Index" asp-controller="" class="btn"><h3>Ordenar Materia Prima</h3></a>
                    <h1 style="font-size: 100px;"><i class="bi bi-journal-text"></i></h1>
                </div>
            </center>

        </div>

    </div>

</div>
